@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: serif;
    font-family: $mainFf;
    font-size: 1rem;
    color: $textColor;
}

a {
    text-decoration: none;
    color: $textColor;
}

input,
button {
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    padding: 0 100px;
}