// Font families
$mainFf: 'Biryani', sans-serif;
$secondaryFf: 'Lora', serif;

// Font sizes
$h1Fs: 3.5rem;
$statFs: 2.25rem;
$titleFs: 1.5rem;
$headlineFs: 1.25rem;

// Colors 
$textColor: rgb(10, 10, 10);
$secondColor: rgb(255, 255, 255);
$accentColor: rgb(251, 218, 148);




